@import url("./start/index.css");
@import url("./hero/index.css");
@import url("./extentsions/index.css");

/*
! Prevent scrolling until the start screen on homepage's animation if complete.
*/
main {
  height: 0;
  overflow: hidden;
  animation: show 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes show {
  to {
    height: auto;
  }
}
