header.mobile {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;

  margin: 20px 20px;
  padding-top: 2px;

  background-color: white;
  mix-blend-mode: exclusion;

  z-index: 2000;
}
line {
  mix-blend-mode: difference;
}

/* MD */
@media (min-width: 768px) {
}

/* LG */
@media (min-width: 1024px) {
  header.mobile {
    display: none;
  }
}

/* Xl */
@media (min-width: 1280px) {
}

/* 2XL */
@media (min-width: 1536px) {
}
