header.mobile {
  position: fixed;
  top: 0;

  width: 100vw;

  display: flex;
  justify-content: flex-end;

  z-index: 2000;
}

.mobile__nav {
  display: flex;
  justify-content: flex-end;
}
.mobile__nav__icon {
  padding: 20px 20px;
}

/* MD */
@media (min-width: 768px) {
}

/* LG */
@media (min-width: 1024px) {
  header.mobile {
    display: none;
  }
}

/* Xl */
@media (min-width: 1280px) {
}

/* 2XL */
@media (min-width: 1536px) {
}
