@import url("./info/index.css");

main.guide {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  font-size: 72px;

  position: fixed;
  bottom: -110vh;
}
.move-page-up {
  animation: move-page-up 3s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes move-page-up {
  to {
    bottom: 0;
  }
}

.title {
  font-size: 60px;
  text-align: center;
}

.header__logo {
  width: 150px;
  height: 75px;
  padding-left: 20px;
}

.header__nav {
  float: right;
  padding: 30px;
}

.products-image {
  display: block;

  width: 50%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 60px;
}
