.btn {
  display: block;
  width: 151px;
  height: 45px;
  margin-top: 24px;
}

/* Dark Variation */
.btn.dark {
  position: relative;
  background-image: url("../../assets/backgrounds/black-pattern.jpg");
  background-size: cover;
  background-position: center;
}
.btn.dark::after {
  content: "Consultation";

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 143px;
  height: 37px;
  margin: auto;

  background: white;
}

/*
***********************************************************
* SM
***********************************************************
*/
@media (min-width: 640px) {
}

/*
***********************************************************
* MD
***********************************************************
*/
@media (min-width: 768px) {
  .btn {
    width: 200px;
    height: 60px;

    font-size: 20px;
  }

  /* Dark Variation */
  .btn.dark::after {
    width: 192px;
    height: 51px;
  }
}

/*
***********************************************************
* LG
***********************************************************
*/
@media (min-width: 1024px) {
}

/*
***********************************************************
* XL
***********************************************************
*/
@media (min-width: 1280px) {
}

/*
***********************************************************
* 2XL
***********************************************************
*/
@media (min-width: 1536px) {
}
