/*
  TODO Change image and word postioning, other viewports are breaking.
*/

/*
***************************************************
* General 
***************************************************
*/
section.start {
  position: relative;
}
section.start figure {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: #fff;
}
section.start figure h1 {
  font-size: 128px;
}

/*
***************************************************
* Slide Logo 
***************************************************
*/
.start__slide--logo {
  z-index: 1300;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: slide-up 1.5s ease;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
}
.start__slide--logo img {
  width: 150px;
  height: 150px;

  animation: grow 1.5s ease;
  animation-fill-mode: forwards;
}

/*
***************************************************
* Slide One 
***************************************************
*/
.start__slide--one {
  z-index: 1200;
  animation: fade 800ms ease;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.start__slide--one h1 {
  padding-top: 54px;
  padding-left: 27px;
}
.start__slide--one img {
  margin-left: 84px;
  width: 300px;
  height: 450px;
}

/*
***************************************************
* Slide Two 
***************************************************
*/
.start__slide--two {
  z-index: 1100;
  animation: fade 800ms ease;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
}
.start__slide--two h1 {
  position: absolute;
  right: 36px;
  top: 15%;
}
.start__slide--two img {
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;

  width: 300px;
  height: 450px;
  margin: auto;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*
***************************************************
* Slide Three
***************************************************
*/
.start__slide--three {
  z-index: 1000;

  animation: slide-up 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
}
.start__slide--three h1 {
  position: absolute;
  right: 36px;
  bottom: 10%;
}
.start__slide--three img {
  position: absolute;
  top: 5%;
  right: 0;
  left: 0;

  width: 300px;
  height: 450px;
  margin: auto;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*
***************************************************
* Animations
***************************************************
*/
@keyframes grow {
  to {
    width: 200px;
    height: 200px;
    display: none;
  }
}
@keyframes slide-up {
  to {
    top: -150vh;
    display: none;
  }
}
@keyframes fade {
  to {
    opacity: 0;
    display: none;
  }
}
