@font-face {
  font-family: "Script";
  src: url("./script/adelicia_script_clean.woff2") format("woff2"),
    url("./script/adelicia_script_clean.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Forum";
  src: url("./forum/forum-regular.woff2") format("woff2"),
    url("./forum/forum-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Branch";
  src: url("./branch/fontsfree-net-branch-webfont.woff2") format("woff2"),
    url("./branch/fontsfree-net-branch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
***************************************************
 * Headings 
***************************************************
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Branch;
  font-weight: 400;
  color: var(--dark);
}
h1 {
  font-size: 54px;
}

/*
***************************************************
 * Paragraphs 
***************************************************
*/
p {
  font-family: Forum;
  font-weight: 400;
  color: var(--dark);
}

/*
***************************************************
 * Buttons 
***************************************************
*/
.btn,
a {
  font-family: Forum;
  font-weight: 400;
  font-size: 16px;
}
