.hero {
  position: relative;
  overflow: hidden;

  height: calc(100vh - 71px);
}
.hero__wrapper {
  margin: 0 14px;

  position: absolute;
  top: 100%;

  animation: move-up 2000ms;
  animation-fill-mode: forwards;
  /*
  ! Wait for slide 3 to start
  */
  animation-delay: 5500ms;
}
.hero__logo--typeface {
  display: block;

  width: 250px;
  height: 154px;
  margin: auto;
  margin-top: -30px;
}
.hero__image {
  width: 100%;
  padding: 0;
}
.hero__content--container {
  width: 316px;
  margin: auto;
  margin-top: 20px;
}

/*
***************************************************
* Animations
***************************************************
*/
@keyframes move-up {
  to {
    top: 0;
  }
}
