.hero {
  position: relative;
  overflow: hidden;

  height: 100vh;
}
.hero__wrapper {
  position: absolute;
  top: 100%;

  display: grid;
  place-content: center;

  height: 100vh;
  width: 100vw;

  animation: move-up 2000ms;
  animation-fill-mode: forwards;
  animation-delay: 1800ms; /* ! Wait for start logo to move up */
}
.hero__logo--typeface {
  display: block;

  width: calc(100vw * 0.7);
  margin: auto;
  padding-bottom: 20px;
}
.hero__image {
  width: calc(100vw * 0.9);
}
.hero__content--container {
  width: calc(100vw * 0.9);
  margin: auto;
  margin-top: 20px;
}

/*
***************************************************
* Animations
***************************************************
*/
@keyframes move-up {
  to {
    top: 0;
  }
}
