@import url("./components/master.css");
@import url("./header/master.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

:root {
  --dark: #231e1f;
  --grey: #5e5c5a;
  --light: #e3e3e3;
  --beige: #e9e4da;
  --blue: #86a7b9;
}

/*
***********************************************************
* SM
***********************************************************
*/
@media (min-width: 640px) {
}

/*
***********************************************************
* MD
***********************************************************
*/
@media (min-width: 768px) {
}

/*
***********************************************************
* LG
***********************************************************
*/
@media (min-width: 1024px) {
}

/*
***********************************************************
* XL
***********************************************************
*/
@media (min-width: 1280px) {
}

/*
***********************************************************
* 2XL
***********************************************************
*/
@media (min-width: 1536px) {
}
